<div class="container-fluid">
    <div class="row page-title p-4 mat-elevation-z2 d-flex flex-column">
      <h1 class="p-0 m-0">Análise financeira</h1>
      <h3 class="p-0 m-0">Lista de clientes inadimplentes</h3>
    </div>
  
    <div class="row container">

        <mat-form-field class="w-100">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cliente 1" #input>
        </mat-form-field>
        
        
        <div class="mat-elevation-z8 w-100">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
                <!-- ID Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>
        
                <!-- Progress Column -->
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                    <td mat-cell *matCellDef="let row"> {{row.valor | currency:'BRL':true}} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="desde">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Desde </th>
                    <td mat-cell *matCellDef="let row"> {{row.desde | customDate}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Sem resultados para o "{{input.value}}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
