@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

.page-title {
    position: relative;
    background-color: map-get($mat-deep-purple, 300);
    color: map-get($mat-deep-purple, 50);
  
    h3 {
      color: map-get($mat-deep-purple, 100);
    }
  }
  
  .page-content {
    background-color: white;
    min-height: 100%;
    
    th.mat-sort-header-sorted {
      color: black;
    }
  }
